<template>
    <div>
        <menu-component></menu-component>
        <div class="main-container" id="container" >
            <div id="content" class="main-content">
                <router-view/>
            </div>
        </div>
    </div>
</template>
<script>
import MenuComponent from "../views/menuComponent.vue";

export default {
    name: 'appLayout',
    components: {MenuComponent},
}
</script>
