<template>
    <div>
        <component v-bind:is="'app'"></component>
    </div>
</template>

<script>
// layouts
import AppLayout from "./layout/app-layout.vue";

export default {
    components: {
        AppLayout,
        app: AppLayout,
    },
};
</script>
