<template>
    <div>

        <v-server-table :columns="this.columns" :options="this.tableOptions"/>

    </div>
</template>

<script>

import services from "../services/services.js";

export default {
    name: "list",
    data() {
        return {
            columns: [
                'id',
                'user_name',
                'email',
                'credit_card_issuer',
                'iban',
                'ipv4',
                'birth_date'
            ],
            tableOptions: {
                headings: {
                    id: 'ID',
                    user_name: 'User name',
                    email: 'Email',
                    credit_card_issuer: 'Credit card issuer',
                    iban: 'Iban',
                    ipv4: 'ipv4',
                    birth_date: 'Birth date',
                },
                pagination: {
                    nav: 'scroll',
                    chunk: 5,
                },
                perPage: 25,
                responsive: true,
                resizableColumns: false,
                filterable: true,
                requestFunction: (data) => {
                    return services.api.customers.getData(data);
                },
                requestAdapter: (data) => {
                    let request = {
                        page: data.page,
                        limit: data.limit,
                        q: data.query,
                    };


                    if (data.search) {
                        request.filter.search = data.search; // Include global search parameter
                    }

                    return request;
                },
                responseAdapter(response) {
                    const responseData = this.getResponseData(response);

                    return {
                        data: responseData.data.data,
                        count: responseData.data.meta.total,
                    };
                }
            },
        };
    },
}
</script>
<style scoped>

</style>
