<script>
export default {
    name: "menuComponent"
}
</script>

<template>
<div>
    <header class="col-12">
        <ul class="d-inline-flex">
            <li class="p-2">
                <router-link class="btn btn-primary" to="upload">nahrat subor</router-link>
            </li>
            <li class="p-2">
                <router-link class="btn btn-primary" to="/">zoznam</router-link>
            </li>
        </ul>
    </header>
</div>
</template>

<style scoped>

</style>
