<template>
    <input type="file"
           @change="this.selectFile($event)"
           accept="text/csv"
    >
    <button class="btn" @click="this.submit">nahrat</button>
</template>

<script>
import axios from "axios";
import services from "../services/services.js";

export default {
    name: "upload",
    data() {
        return {
            uploadFile: null
        }
    },
    methods: {
        selectFile(event) {
            const files = event.target.files;
            if (files.length > 0) {
                this.uploadFile = files[0];
            }

        },
        async submit() {
            if (!this.uploadFile) return;

            const formData = new FormData();
            formData.append('csv_file', this.uploadFile);
            let response = services.api.customers.upload(formData);

            alert(response.data.message);
        }
    }
}
</script>

<style scoped>

</style>
